<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="build/stylesCS.css" />
    <meta name="robots" content="noindex" />

    <title>fórmula secreta</title>
  </head>
  <body>
    <form>
      <label for="codigo">pon la fórmula anda</label>
      <input type="text" id="codigo" name="codigo" />
      <button type="submit">descargar</button>
    </form>
  </body>
</html>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var form = document.querySelector("form");
  if (form) {
    form.addEventListener("submit", function (event) {
      event.preventDefault(); // Evita que el formulario se envíe automáticamente

      // Obtener el valor del campo de texto
      var inputElement = document.querySelector("#codigo");
      if (inputElement instanceof HTMLInputElement) {
        var codigo = inputElement.value;

        // Validar el código
        if (codigo === "ri69cky33") {
          // Redirigir a la página de descarga
          window.location.href =
            "https://www.mediafire.com/file/l6mwwcgdpygc8lc/FTAR.rar/file";
        } else {
          // Redirigir a otra página
          window.location.href = "videoplayback";
        }
      }
    });
  }
});
</script>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #191919;
  }

  form {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #303030;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #808080;
  }

  button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #ff0000;
  }
</style>
