---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Five Tweets At Rick's">
  <div class="mover"></div>
  <Header />
  <Main />
  <Footer />
</Layout>

<script>
  const imageButton = document.querySelectorAll(
    ".imageButton"
  ) as NodeListOf<HTMLElement>;

  imageButton.forEach((btn) => {
    console.log(btn);
    btn.style.top = Math.floor(Math.random() * 75) + "%";
    btn.style.left = Math.floor(Math.random() * 88) + "%";
  });
</script>

<style>
  :root {
    --mouse-x: 0px;
    --mouse-y: 0px;
  }
</style>
