---
import Twitter from "./Twitter.astro";
import Discord from "./Discord.astro";
---

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>tienes la fórmula secreta?</h4>
        <ul>
          <li>
            <a href="formulasecreta.html">ingresar fórmula secreta</a>
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>síguenos</h4>
        <div class="social-links">
          <a id="twitter" href="https://x.com/Ftardesarrollo" target="_blank"
            ><Twitter /></a
          >
          <a id="discord" href="https://discord.gg/w94JaY7xtG" target="_blank"
            ><Discord /></a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
  .container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #232323;
    padding: 70px 0;
    margin-top: 20.2%;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .social-links {
    display: inline-flex;
    margin: 0 10px 10px 0;
    gap: 40%;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
  }

  #twitter:hover {
    color: #00acee;
    transition: all 0.5s ease;
  }
  #discord:hover {
    color: #7289da;
    transition: all 0.5s ease;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f93a3a;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
  }

  /*responsive*/
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
    .title {
      font-size: 50px;
    }
    .footer {
      height: 37vh;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
</style>
