<div class="header">
  <ul>
    <li>
      <a class="title" id="first-title">Five</a>
      <a class="title" id="second-title">Tweets At Rick's</a>
    </li>
  </ul>
</div>

<style>
  .header {
    padding: 0vh;
    text-align: center;
    background: #232323;
    color: white;
    font-size: 30px;
  }
  .title {
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: 250%;
    font-weight: bolder;
  }
  #first-title {
    color: #fff;
  }
  #second-title {
    color: #f93a3a;
  }

  /*responsive*/
  @media (max-width: 767px) {
    .title {
      font-size: 50px;
    }
  }
</style>
